/* ubuntu-regular - latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: 
		url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* ubuntu-700 - latin */
  @font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 700;
	src:
		url('../fonts/ubuntu-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/ubuntu-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


#container {
	width: 100%;
	height: 100vh;
	max-height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 4.5vh;
	font-family: 'Ubuntu', sans-serif;
}

center {
	height: auto;
}

ul {
	height: auto;
}

.infoText {
	bottom: 0;
	padding: 1em;
	height: auto;
	position: absolute;
	font-size: 0.5em;
	font-family: 'Ubuntu', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	height: 100%;
}

.options {
	font-size: 0.5em;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	align-items: center;
	position: relative;
	text-align: center;
}

.options-container {
	position: absolute;
    top: 0;
    padding: 1vh;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#options-help-overlap {
	font-size: 0.5em;
	font-family: 'Ubuntu', sans-serif;
	padding: 0.5em;
	display: none;
}

#options-help-alternate {
	font-size: 0.5em;
	font-family: 'Ubuntu', sans-serif;
	padding: 0.5em;
	display: none;
}

input[type="checkbox"]{
  transform: scale(2);
  height: auto;
}

.legend-container{
	height: 80%;
}

.legend-container table{
	font-size: 0.5em;
	table-layout: fixed;
	display: block;
	margin-bottom: 0;
}

.legend-container table th{
	padding: 0.5em
}

.legend-container table td{
	padding: 0.5em
}

.legend-container table caption{
	text-align: center;
	color: black;
}

tr {
	cursor: pointer;
	touch-action: manipulation;
}

svg {
	width: 30vw;
	max-width: 15vh;
}